.service-card{
    border-radius: 20px;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 19px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 19px 1px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 19px 1px rgba(0,0,0,0.75);
}